@model List<AkademisyenlerServiceMVC.Models.Ogrenci>
@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                Öğrenci Adı
            </th>
            <th>
                Öğrenci Soyadı
            </th>
            <th>
                Öğrenci Emaili
            </th>
            <th>
                Staj Durumu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoyAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (item.StajBasvuruDurumu == false)
                {
                    <td>
                        ONAYLANMADI
                    </td>
                }
                else
                {
                    <td>
                        ONAYLANDI
                    </td>
                }

                <td>
                    <a asp-action="Duzenle" asp-route-id="@item.OgrenciId">Düzenle</a> |
                    <a asp-action="Detaylar" asp-route-id="@item.OgrenciId">Detaylar</a> |
                    <a asp-action="Sil" asp-route-id="@item.OgrenciId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

